@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
}

.video-bar::-webkit-progress-bar {
    background-color: #ff0000;

}

.video-bar::-moz-progress-bar {
    background-color: #00ff00;

}